@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
}

.navbarWhite {
  background-color: white;
  padding-left: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
  transition: 1s ease-in;
  width: 100%;
  height: 40px;
}

.navright {
  display: flex;
  align-items: center;
  /* padding-left: 50%; */
  font-family: "Poppins";
  width: 50%;
  transition: 0.25s ease-in;
}

.navrighthidden {
  display: none;
}

.navbuttonWhite {
  background-color: white;
  color: black;
  font-size: 0.9rem;
  font-weight: 600;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 1%;
  padding-bottom: 1%;
  border: none;
  cursor: pointer;
  transition: 0.25s ease-in;
  display: flex;
  text-decoration: none;
}

.navbuttonWhite:hover {
  background-color: #eeeeee;
}

.distbutton {
  margin-left: 20px;
}

.homepage {
  overflow: hidden;
}

.herobackground {
  /* position: absolute; 
     top: 0;
    bottom: 0;
    right: 0;
    left: 0; */
  width: 100%;
  height: 100vh;
}

.curve {
  position: absolute;
  z-index: 0;
  left: 0;
  bottom: 0;
}

.img1 {
  top: 70px;
  position: relative;
  z-index: 1;
  left: 8%;
  height: 85%;
  width: 28%;
}

/* .scrollText {
    font-size: 1.5rem;
  } */

.card {
  height: 8rem;
  /* height: 100vh */
  width: 40%;
  border-radius: 10px;
  background: transparent;
  font-family: "Poppins";
  color: white;
  margin-right: 15%;
  margin-bottom: 10%;
}

.card h1 {
  /* font-size: 20px; */
  /* font-weight: bold; */
  margin-bottom: 10%;
  text-align: center;
  font-family: "Poppins";
}

.card p {
  font-size: 15px;
  font-weight: 700;
  font-family: "Poppins";
}

.logo {
  opacity: 0;
  animation: fadeInAnimation 1s ease-in forwards;
  animation-delay: 1s;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.featuresection {
  height: 100vh;
  /* background-color: aliceblue; */
  display: flex;
}

.features {
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  justify-content: space-between;
}

.featuretext {
  width: 50%;
  padding-top: 30%;
  padding-bottom: 30%;
  font-family: "Poppins";
  color: #325a6c;
}

.featuretext h1 {
  font-size: 50px;
}

.featuretext p {
  font-size: 20px;
  color: gray;
}

.featureimage {
  /* width: 50%; */
  padding-left: 65%;
  padding-top: 10%;
  padding-bottom: 30%;
}

.imgactive {
  position: absolute;
  opacity: 1;
  right: 10%;
  height: 70vh;
  transition: 0.3s ease-in-out;
}

.imginactive {
  position: absolute;
  opacity: 0;
  height: 70vh;
  right: 10%;
}

.userbackground {
  height: 100vh;
  width: 100%;
}

.userappdescription {
  height: 95vh;
  border-radius: 2%;
  padding-top: 5%;
  box-shadow: 10px 10px 20px gray;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #325a6c;
}

.userdes {
  /* padding-top: 20%; */
  width: 50%;
  padding-left: 10%;
}

.userdes h1 {
  font-size: 60px;
  padding-bottom: 5%;
  font-family: "Poppins";
}

/* .userdes p{
  font-size: 20px;
  font-family: 'Poppins';
} */

.userappdescription img {
  /* width: 0vh; */
  padding-right: 10%;
  height: 80vh;
}

.userdes p {
  font-size: 15px;
  color: grey;
  font-weight: 300;
  font-family: "Poppins";
  padding-bottom: 5%;
}

.userdes h3 {
  font-weight: 500;
  font-size: 20px;
  font-family: "Poppins";
  color: #41c1ba;
}

.highlightContainer {
  background-color: white;
  margin-top: -5%;
  opacity: 100%;
  /* background-color: blue; */
  padding-bottom: 10%;
  color: #325a6c;
}

.highlightHeading {
  font-family: "Poppins";
  text-align: center;
}

.highlightBox {
  margin-top: 10%;
  display: flex;
  flex-wrap: wrap;
  width: auto;
  margin-left: 5%;
  margin-right: 5%;
}

.highlightElement {
  width: 48%;
  height: 80vh;
  border-radius: 10px;
  /* background-color: #F2F0EF; */
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 10px;
  text-align: center;
  padding-top: 10%;
  padding-bottom: 10%;
  font-family: "Poppins";
  box-shadow: 2px 2px 2px 2px grey;
}

.highlightImage {
  width: 30%;
  margin: 10px;
}

.pill {
  background-color: #41c1ba;
  border-style: none;
  padding: 5px;
  border-radius: 20px;
  width: 20%;
  margin-left: 38%;
  margin-top: 5%;
}

.corridordiv {
  height: 100vh;
  background-image: url("../resources/Hospital\ Corridor\ Photos\ and\ Images\ _\ Shutterstock.png");
  background-color: rgba(65, 165, 186, 0.8);
  background-size: cover;
  background-blend-mode: multiply;
  /* z-index: -1; */
}

.faq {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  margin: 1%;
  padding-top: 2%;
  padding-bottom: 3%;
  background-color: white;
  text-align: center;
}

.faq h1 {
  font-size: 63px;
}

.faq p {
  font-size: 18px;
}

.faqcont {
  display: flex;
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 3%;
  padding-bottom: 6%;
  overflow: scroll;
  justify-content: space-between;
}

.faqcontdes {
  width: 45%;
  text-align: justify;
}

.faqcontdes h4 {
  padding-top: 2%;
  /* padding-bottom: 2%; */
  font-size: 23px;
  font-weight: 500;
}

.faqcontdes h6 {
  font-weight: 300;
  font-size: 13px;
}

.bt {
  padding: 15%;
  height: 60vh;
  /* background-color: red; */
}

.bt h1 {
  padding-left: 45%;
  /* padding-top:15%;  */
  font-family: "poppins";
  color: white;
  font-size: 45px;
}

.bt p {
  padding-left: 45%;
  font-family: "poppins";
  color: white;
  padding-top: 3%;
  font-size: 20px;
}

.btImg {
  position: absolute;
  top: -5%;
  left: 5%;
  height: 100%;
  padding-top: 5%;
}

.playbutton {
  position: relative;
  left: 45%;
  padding-top: 2%;
  width: 30vh;
}

.contactus {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  margin-bottom: 5%;
  font-family: "poppins";
  height: 100vh;
  padding-left: 15%;
  padding-right: 15%;
  background-color: #eeeeee;
  padding-top: 7%;
  text-align: center;
  padding-top: 3%;
  font-family: "Poppins";
  box-shadow: 5px 5px 5px 5px grey;
  align-items: center;
}

.contactus h1 {
  font-size: 55px;
  display: flex;
  text-align: center;
}

.contactus p {
  color: teal;
  font-size: 20px;
  border-radius: 50px;
}

.contactform {
  /* padding-left: 10%;
  padding-right: 10%;
  padding-top: 1%;
  padding-bottom: 1%; */
}

.contactform input {
  border: solid 1px teal;
  /* box-shadow: 1px 1px 1px ; */
}
.contactform textarea {
  border: solid 1px teal;
  /* box-shadow: 1px 1px 1px ; */
}

.formrow1 {
  width: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
  display: flex;
  justify-content: space-between;
}

.formrow1 input {
  width: 43%;
  height: 7vh;
  padding-left: 3%;
  padding-right: 3%;
  border-radius: 8px;
}

.formrow2 {
  display: flex;
  padding-top: 2%;
  padding-bottom: 2%;
}

.formrow2 input {
  height: 7vh;
  padding-left: 2%;
  padding-right: 2%;
  width: 100%;
  border-radius: 8px;
}

.formrow3 {
  display: flex;
  padding-top: 2%;
  padding-bottom: 2%;
}

.formrow3 textarea {
  width: 100%;
  height: 30vh;
  padding-left: 3%;
  padding-right: 2%;
  padding-top: 3%;
  border-radius: 8px;
}

.formbutton {
  margin-left: 70%;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7vh;
  border-radius: 8px;
  background-color: teal;
  width: 30%;
}

.footer {
  height: 52vh;
  padding-top: 4%;
  background-color: #eeeeee;
}

.footeritems {
  text-decoration: none;
  color: black;
}

Link :hover {
  color: teal;
}

.footerflex {
  display: flex;
  font-family: "poppins";
  height: 50vh;
  padding-left: 10%;
  padding-right: 10%;
  justify-content: space-between;
}

.footercontb {
  color: teal;
  width: 40%;
  padding-top: 3%;
}

.footerconts {
  display: flex;
  padding-top: 3%;
  flex-direction: column;
  gap: 5%;
  width: 17.5%;
  padding-bottom: 1%;
  padding-left: 3%;
  padding-right: 3%;
}

.footerconts h1 {
  font-size: 20px;
}

.footercontm {
  padding-top: 3%;
  width: 25%;
}

.footermedoc {
  height: 7vh;
}

.footerconts p {
  color: gray;
  font-weight: 200;
}

.footer h6 {
  color: gray;
  font-weight: 200;
  bottom: 0px;
}

.footerplaybutton {
  background-color: black;
  width: 80%;
  border-radius: 8px;
  margin: auto;
}

@media screen and (max-width: 600px) {
  .faqcont {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .faqcontdes {
    width: 70%;
  }
}

@media screen and (min-width: 720px) {
  .contactus form {
    width: 70%;
  }
}

@media screen and (max-width: 1180px) {
  .img1 {
    top: 80px;
    position: relative;
    z-index: 1;
    left: 8%;
    height: 80%;
  }
  .card {
    height: 7.8rem;
    width: 38%;
    border-radius: 10px;
    background: transparent;
    font-family: "Poppins";
    color: white;
    margin-right: 15%;
    margin-bottom: 10%;
  }
  .card h1 {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 10%;
    text-align: center;
    font-family: "Poppins";
  }
  .card p {
    font-size: 13px;
    font-weight: 700;
    font-family: "Poppins";
  }
  .imgactive {
    position: absolute;
    opacity: 1;
    right: 10%;
    height: 65vh;
  }
  .imginactive {
    position: absolute;
    opacity: 0;
    height: 70vh;
    right: 10%;
  }
  .featuretext h1 {
    font-size: 45px;
  }
  .featuretext p {
    font-size: 18px;
    color: gray;
  }
  .userdes h1 {
    font-size: 45px;
    padding-bottom: 5%;
    font-family: "Poppins";
  }
  .userdes p {
    font-size: 18px;
    font-family: "Poppins";
  }
  .userappdescription img {
    height: 75vh;
  }
  .highlightElement {
    width: 48%;
    border-radius: 10px;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 10px;
    text-align: center;
    padding-top: 3%;
    font-family: "Poppins";
    box-shadow: 5px 5px 5px 5px grey;
  }
}

@media screen and (max-width: 1075px) {
  .img1 {
    top: 80px;
    position: relative;
    z-index: 1;
    left: 8%;
    height: 80%;
  }
  .card {
    height: 7.8rem;
    width: 38%;
    border-radius: 10px;
    background: transparent;
    font-family: "Poppins";
    color: white;
    margin-right: 15%;
    margin-bottom: 10%;
  }
  .card h1 {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 10%;
    text-align: center;
    font-family: "Poppins";
  }
  .card p {
    font-size: 13px;
    font-weight: 700;
    font-family: "Poppins";
  }
  .imgactive {
    position: absolute;
    opacity: 1;
    right: 10%;
    height: 65vh;
  }
  .imginactive {
    position: absolute;
    opacity: 0;
    height: 70vh;
    right: 10%;
  }
  .featuretext h1 {
    font-size: 42px;
  }
  .featuretext p {
    font-size: 16px;
    color: gray;
  }
  .userdes h1 {
    font-size: 45px;
    padding-bottom: 5%;
    font-family: "Poppins";
  }
  .userdes p {
    font-size: 18px;
    font-family: "Poppins";
  }
  .userappdescription img {
    height: 75vh;
  }
  .highlightElement {
    width: 48%;
    border-radius: 10px;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 10px;
    text-align: center;
    padding-top: 3%;
    font-family: "Poppins";
    box-shadow: 5px 5px 5px 5px grey;
  }
}

@media screen and (max-width: 1025px) {
  .img1 {
    top: 90px;
    position: relative;
    z-index: 1;
    left: 8%;
    height: 75%;
  }
  .card {
    height: 7.5rem;
    width: 35%;
    border-radius: 7px;
    background: transparent;
    font-family: "Poppins";
    color: white;
    margin-right: 15%;
    margin-bottom: 10%;
  }
  .card h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10%;
    text-align: center;
    font-family: "Poppins";
  }
  .card p {
    font-size: 13px;
    font-weight: 700;
    font-family: "Poppins";
  }
  .imgactive {
    position: absolute;
    opacity: 1;
    right: 5%;
    height: 65vh;
    width: 40%;
  }
  .imginactive {
    position: absolute;
    opacity: 0;
    height: 65vh;
    right: 5%;
  }
  .featuretext h1 {
    font-size: 40px;
  }
  .featuretext p {
    font-size: 15px;
    color: gray;
  }
  .userdes h1 {
    font-size: 43px;
    padding-bottom: 5%;
    font-family: "Poppins";
  }
  .userdes p {
    font-size: 15px;
    font-family: "Poppins";
  }
  .userappdescription img {
    height: 75vh;
  }
  .highlightElement {
    width: 48%;
    border-radius: 10px;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 10px;
    text-align: center;
    padding-top: 3%;
    font-family: "Poppins";
    box-shadow: 5px 5px 5px 5px grey;
  }
}

@media screen and (max-width: 938px) {
  .img1 {
    top: 90px;
    position: relative;
    z-index: 1;
    left: 7%;
    height: 75%;
  }
  .card {
    height: 7.5rem;
    width: 35%;
    border-radius: 7px;
    background: transparent;
    font-family: "Poppins";
    color: white;
    margin-right: 15%;
    margin-bottom: 10%;
  }
  .card h1 {
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 10%;
    text-align: center;
    font-family: "Poppins";
  }
  .card p {
    font-size: 13px;
    font-weight: 700;
    font-family: "Poppins";
  }
  .imgactive {
    position: absolute;
    opacity: 1;
    right: 5%;
    height: 65vh;
    width: 40%;
  }
  .imginactive {
    position: absolute;
    opacity: 0;
    height: 65vh;
    right: 5%;
  }
  .featuretext h1 {
    font-size: 40px;
  }
  .featuretext p {
    font-size: 15px;
    color: gray;
  }
  .userdes {
    width: 48%;
    padding-left: 10%;
  }
  .userdes h1 {
    font-size: 40px;
    padding-bottom: 5%;
    font-family: "Poppins";
  }
  .userdes p {
    font-size: 13px;
    font-family: "Poppins";
  }
  .userappdescription img {
    height: 75vh;
    width: 280px;
  }
  .highlightElement {
    width: 48%;
    border-radius: 10px;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 10px;
    text-align: center;
    padding-top: 3%;
    font-family: "Poppins";
    box-shadow: 5px 5px 5px 5px grey;
  }
}
